.markdown-section h1 {
    font-size: 1.75em;
}
.markdown-section h2 {
    font-size: 1.5em;
}
.markdown-section h3 {
    font-size: 1.25em;
}
.markdown-section h4 {
    font-size: 1em;
}
.markdown-section h5 {
    font-size: 0.75em;
}
.markdown-section h6 {
    font-size: 0.5em;
}
.header-inner .logo {
  background-size: 120px 70px;
  background-position: center;
}
.page-footer > .copyright {
  display: none!important;
}
/* scroll */
html:hover ::-webkit-scrollbar-thumb {
  visibility: visible;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  visibility: hidden;
  background: rgba(119, 119, 119, 0.5);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(119, 119, 119, 0.6);
}

::-webkit-scrollbar-corner {
  display: none;
}
